@import '../../styles/mixins.less';

.home-default-page {
  width: 100%;
  background-color: #FF9A8B;
  background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);


  .section {
    overflow: auto;
    width: 100%;
    height: ~'calc(100vh - @{navbarHeight})';
    display: flex;
    flex-direction: column;
    align-items: center;

    &.-title {
      padding: 80px 50px;
      justify-content: flex-end;
      align-items: flex-end;
      h1 {
        font-size: 120px;
        font-family: 'Avenir LT Std', serif;
        color: white;
        font-weight: 900;
        margin-bottom: 15px;
        span{
          font-weight: 100;
          color: white;
        }
      }

      h2 {
        color: white;
        font-weight: 100;
        font-size: 48px;
        font-family: 'Avenir LT Std', sans-serif;
      }

      .header-circle {
        background: url('../../images/me.jpg') 50% / cover;
        width: 250px;
        margin-right: 100px;
        height: 250px;
        border-radius: 50%;
        position: relative;
        transition: all .3s ease-in-out;
        will-change: transform;
      }

    }
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
